.m-top-8 {
    margin-top: 8px;
}

.m-top-16 {
    margin-top: 16px;
}

.m-top-24 {
    margin-top: 24px;
}

.m-left-8 {
    margin-left: 8px;
}

.m-left-16 {
    margin-left: 16px;
}

.m-left-24px {
    margin-left: 24px;
}